body{
    margin: 0;
    font-family: 'Merriweather',serif;
    background-color: #ffce89;
}



.top-container{
    background-color: #bce6eb;    
    text-align: center;
    padding-top: 100px;
    position: relative;
}

.top-cloud{
    position: absolute;
    right: 400px;
    top: 50px;
}

h1{
   
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;

}

.profile{
    background-color: #f3eac2;
    position: relative;
    margin: 0px auto -17px auto;
    text-align: center;
    padding-bottom: 5px;
}

.skills{
    background-color: #f5b461;
    padding: 5px;
    text-align: center;
    margin: 0px auto -20px auto;
    padding-bottom: 5px;
}

.contact-me{
    text-align: center;
    background-color: #adce74;
    padding-bottom: 20px;
    padding-top: 20px;
}

.middle-container{
    margin: 0;
}

.skill-img{
    width:300px;
    height:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}

.sm_box {
    position: relative;
    margin: 0 auto 0 auto;
    display:flex;
    justify-content: space-between;
    max-width: 120px;
    padding: 10px 0;
}

.bottom-container{
    background-color: #ffce89;
    text-align: center;
    margin: 0px auto -17px auto;

    padding-top: 20px;
}
